@use '../../styles/vars';
@use 'sass:color';

.menu{
    &-small {
        width: 100%;
        background-color: vars.$background-secondary;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid vars.$background-primary;
        display: none;
        @media (max-width: 426px) {
            display: flex;
        }
        &-logo{
            display: block;
            height:70px;
        }
    }
    &-nav{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        font-family: "VT323", monospace;
        @media (max-width: 426px) {
            padding: 0;
        }
    }
    &-list{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex: 1;
        padding: vars.$gutter;
        @media (max-width: 426px) {
            padding: 0;
        }
        &-link{
            padding: vars.$gutter 0 vars.$gutter*0.5;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: vars.$background-primary;
            font-size: vars.$gutter*1.8;
            &:hover{
                // font-style: italic;
                transform: translateY(-3px);
                transition: all 200ms ease-in-out;
            }
            @media (max-width: 768px) {
                font-size: vars.$gutter*1.5;
            }
            @media (max-width: 426px) {
                font-size: vars.$gutter*1.2;
            }
        }
        &-logo{
            height:100px;
            @media (max-width: 426px) {
                display: none;
            }
        }
    }
    &-search{
        text-align: center;
        margin: vars.$gutter auto;
        & input{
            padding: vars.$gutter*0.5;
        }
    }
    &-open{
        position: fixed;
        z-index: 9999;
        top: vars.$gutter*0.5;
        left: vars.$gutter*0.5;
        padding:vars.$gutter*0.5 vars.$gutter;
        text-transform: uppercase;
        font-weight: bold;
        font-size: vars.$gutter*1.1;
        // background-color: vars.$background-secondary;
        // color: vars.$background-primary;
        border : 3px solid vars.$background-primary;
        margin-left: vars.$gutter;
        margin-top: vars.$gutter*1.2;
        border-radius: 5px;
        &-icon{
            fill: vars.$background-primary;
        }
        @media (max-width: 426px) {
            margin-top: vars.$gutter*0.5;
        }
    }
    &-display{
        &-enter{
            opacity: 0;
            width: 0;
            &-active{
                opacity: 1;
                width: 400px;
                transition: all 300ms;
            }
        }
        &-exit{
            opacity: 1;
            &-active{
                opacity: 0;
                transition: all 500ms;
            }
        }
    }
}

.active{
    border-bottom: 5px solid vars.$background-primary;
}