@use '../../styles/vars';
@use 'sass:color';

.list {
  text-align: center;
  background-color: vars.$background-primary;
  min-height: 100%;
  color: vars.$background-secondary;

  &-title {
    font-size: vars.$gutter * 2;
    font-weight: bold;
    text-transform: uppercase;
    padding: vars.$gutter * 2 0;
    border-bottom: 2px solid vars.$background-secondary;

    @media (max-width: 426px) {
      font-size: vars.$gutter * 1.5;
    }
  }

  &-description {
    font-size: vars.$gutter * 1.5;
    margin: vars.$gutter 0;
  }

  &-filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: vars.$gutter auto;
    gap: 15px;

    @media (max-width: 769px) {
      width: 85%;
    }

    @media (max-width: 426px) {
      width: 95%;
    }
  }

  &-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: vars.$gutter*0.5 vars.$gutter;

    @media (max-width: 769px) {
      width: 100%;
    }
  
    input {
      flex: 1;
      font-size: 1rem;
      border: none;
      margin: 0 vars.$gutter;
      // padding: vars.$gutter*0.5;
    }
  
    &-icon {
      color: #999;
      pointer-events: none;
    }
  
    &-clear {
      cursor: pointer;
      color: #999;
      border: none;
      background-color: inherit;
      &:hover {
        color: vars.$background-primary;
        background-color: vars.$background-secondary;
        border-radius: 5px;
      }
    }
  }

  &-themes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &-title{
      font-weight: bold;
    }
    
    &-tag {
      margin: vars.$gutter 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: vars.$gutter * 0.5;
      
      &-item{
        border: none;
        border-radius: 8px;
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          transform: translateY(-2px);
        }
      }

    }
  }

  &-results {
    width: 75%;
    margin: 0 auto;

    @media (max-width: 769px) {
      width: 85%;
    }

    @media (max-width: 426px) {
      width: 95%;
    }
  }

  &-post {
    margin-bottom: vars.$gutter * 0.5;
    padding: vars.$gutter 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid vars.$background-secondary;
    background-color: #fff;
    padding: vars.$gutter;

    &:hover {
      transform: translateY(-2px);
    }

    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &-link{
      display: flex;
      align-items: center;
      gap: 15px;
      & img{
        width: 100px;
        max-height: 50px;
        object-fit: cover;
        @media (max-width: 769px) {
          display: none;
        }
      }
    }

    &-title {
      font-size: vars.$gutter * 1.2;
      font-weight: bold;
    }

    &-meta {
      text-align: center;
      font-size: 0.9rem;
    }

    &-themes {
      justify-self: end;
      display: flex;
      gap: 10px;
      &-item{
        color: vars.$background-primary;
        padding: vars.$gutter*0.5 vars.$gutter;
        border-radius: 8px;
        background-color: vars.$background-secondary;
        font-size: vars.$gutter*0.8;
        font-weight: bold;

        @media (max-width: 426px) {
        }   
      }
    }
  }

  &-no-results {
    margin-top: vars.$gutter * 2;
    font-style: italic;
    font-size: 1rem;
    color: #888;
  }
}
