@use '../../styles/vars';
@use 'sass:color';

.notfound{
    &-container {
        text-align: center;
        margin: vars.$gutter*2 auto;
        color: vars.$background-secondary;
        @media(max-width: 426px){
            margin: vars.$gutter;
        }
        &-text{
            font-size: vars.$gutter*1.5;
            font-weight: bold;
            margin-bottom: vars.$gutter*2;
            @media(max-width: 426px){
                font-size: vars.$gutter*1.2;
            }
        }
        &-404{
            position: relative;
            &-img{
                max-width: 100%;
            }
            &-text{
                font-size: vars.$gutter*15;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-style: italic;
                position: absolute;
                width: 100%;
                top: 0;
                text-shadow: 0 0 10px white;
                @media(max-width: 426px){
                    font-size: vars.$gutter*8;
                }
            }
        }
        &-link{
            display: inline-block;
            margin-top: vars.$gutter*2;
            padding: vars.$gutter*0.5 vars.$gutter*1.5;
            color: vars.$background-secondary;
            border: 3px solid vars.$background-secondary;
            border-radius: 5px;
            font-size: vars.$gutter*1.2;
            font-weight: bold;
            &:hover{
                background-color: vars.$background-secondary;
                color: vars.$background-primary;
            }
        }
    }
}