// default font-size
$gutter: 16px;

// color default style
$background-primary: #ddd;
$background-secondary: #030303;
$alt-color: #efcc00;

$delete-color: #a61414;
$error-color: #eb3737;
$grey: #999;
$light: #fff;

// color link
$link-color: rgb(17, 218, 141);