// default font-size
$gutter: 16px;

// color default style
$background-primary: rgb(241, 241, 233);
$background-secondary: rgb(73, 122, 187);

$grey: #999;

// color link
$link-color: rgb(17, 218, 141);