@use '../../styles/vars';
@use 'sass:color';

.admin-return {
  position: absolute;
  left: 2rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  background: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;

  &:hover {
    background: #333;
  }
}


.image-input-container {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-image-btn {
  background-color: white;
  padding: vars.$gutter*0.7 vars.$gutter*0.8;
  border-radius: 5px;
  border: 2px solid vars.$delete-color;
}

.remove-section-btn {
  border: 2px solid vars.$delete-color;
  border-radius: 5px;
  padding: 5px 8px;
  color: vars.$delete-color;
  background-color: white;
}


.preview-loading, .preview-error, .preview-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #616161;
  font-size: 1.2rem;
  font-weight: 500;
}

.preview-error {
  color: #d32f2f;
}
