@use '../../styles/vars';
@use 'sass:color';

.admin-dashboard {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    &-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &-menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &-link {
        display: inline-block;
        padding: 1rem 2rem;
        background: #111;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background 0.2s;

        &:hover {
            background: #333;
        }
    }
}

.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: vars.$background-primary;
    color: vars.$background-secondary;
    margin-top: vars.$gutter*3;

    h2 {
        font-size: 2rem;
        margin-bottom: vars.$gutter * 2;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: vars.$gutter;

        input {
            padding: vars.$gutter;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 1rem;
        }

        button {
            padding: vars.$gutter*0.5 vars.$gutter;
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: color.adjust(vars.$background-secondary, $lightness: -10%);
            }
        }
    }
}


.admin-posts {
    padding: 2rem;
    text-align: center;

    &-title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &-controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        gap: 1rem;

        input {
            flex: 1;
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .admin-posts-create {
            padding: 0.5rem 1rem;
            font-weight: bold;
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }

    &-table {
        width: 100%;
        border-collapse: collapse;

        tbody{
          background-color: white;
        }

        th,
        td {
            padding: 0.75rem;
            border-bottom: 1px solid #ccc;
        }

        th {
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
        }

        td {
            text-align: center;
        }

        .admin-posts-edit,
        .admin-posts-delete {
            margin: 0 0.25rem;
            cursor: pointer;
            border: none;
            font-size: 1.2rem;
            background: none;
        }
    }
}

.admin-create {
  padding: vars.$gutter * 2;

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: vars.$gutter * 2;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: vars.$gutter * 1.5;
  }

  &-short-fields {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$gutter;
    
    input {
      flex: 1 1 20%;
    }
  }

  input:not([type="checkbox"]),
  textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-color: vars.$background-secondary;
    color: vars.$background-secondary;
  }

  textarea {
    resize: vertical;
  }

  &-body{
    border: 1px solid black;
    border-radius: 8px;
    padding: vars.$gutter*2;
  }

  .form-section {
    margin-top: vars.$gutter;
    padding: vars.$gutter;
    border: 1px dashed #999;
    background-color: vars.$background-primary;
    border-radius: 6px;
  }

  .add-section-btn {
    background-color: vars.$background-secondary;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 30px;

    &:hover {
      background-color: color.scale(vars.$background-secondary, $lightness: -10%);
    }
  }

  .theme-select{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    &-item{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 5px 15px;
        color: white;
        border-radius: 5px;

        & input[type="checkbox"]{
            width: 20px;
            height: 20px;
        }
    }
  }

  .add-image-btn {
    margin-top: 0.5rem;
    background-color: #444;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  
    &:hover {
      background-color: color.adjust(#444, $lightness: -10%);
    }
  }

  .submit-btn {
    margin-top: vars.$gutter;
    padding: 1rem;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: color.adjust(vars.$background-secondary, $lightness: -10%);
    }
  }
}

.admin-return{
  position: absolute;
  left: 2rem;
  display: inline-block;
  padding: 0.8rem 1rem;
  background: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;

  &:hover {
      background: #333;
  }
}

.admin-themes {
  padding: 2rem;

  &-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &-form {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: center;
    flex-wrap: wrap;

    input[type="text"] {
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    input[type="color"] {
      width: 50px;
      height: 40px;
      padding: 0;
      border: none;
      background: none;
    }

  }
  
  &-add {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: vars.$background-secondary;
    color: vars.$background-primary;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  &-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0 auto;
  }
}

.theme-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 30%;

  input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type="color"] {
    width: 40px;
    height: 35px;
    border: none;
  }

  .theme-item-name {
    font-weight: bold;
    flex: 3;
  }

  .theme-item-color {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    flex: 1;
  }

  .theme-item-actions,
  .theme-item-actions-edit {
    display: flex;
    gap: 0.5rem;
    flex: 3;
    justify-content: flex-end;

    button {
      padding: 0.3rem 0.6rem;
      font-size: 0.9rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:first-child {
        background-color: #4caf50;
        color: white;
      }

      &:last-child {
        background-color: #f44336;
        color: white;
      }
    }
  }
}

