@use '../../styles/vars';
@use 'sass:color';

.comment{
    margin: 0 auto;
    padding: vars.$gutter 0 0;
    text-align: center;
    width: 50%;
    @media(max-width: 769px) {
        width: 75%;
    }
    @media(max-width: 426px) {
        width: 100%;
        padding: vars.$gutter;
    }
    &-list{
        &-title{
            font-size: vars.$gutter*1.8;
            font-weight: bold;
            padding: vars.$gutter*2;
            margin: vars.$gutter 0;
            border: 2px solid vars.$background-primary;
            @media(max-width: 426px) {
                font-size: vars.$gutter*1.3;
            }
        }
        &-item{
            border : 1px solid #999;
            padding: vars.$gutter;
            text-align: left;
            margin: vars.$gutter;
            &-info{
                margin-bottom: vars.$gutter;
                &-date, &-pseudo{
                    font-weight: bold;
                }
                &-pseudo{
                    text-transform: uppercase;
                }
            }
            &-content{
                line-height: 1.1;
            }
        }
    }
}

.off{
    border: 2px solid vars.$grey;
    background-color: vars.$grey;
    color: vars.$background-primary;
    cursor: not-allowed;
    &:hover{
        border: 2px solid vars.$grey;
        background-color: vars.$grey;
        color: vars.$background-primary;
    }
}