@use '../../styles/vars';
@use 'sass:color';

.about{
    text-align: center;
    background: linear-gradient(vars.$background-secondary, vars.$background-secondary, #90e0ef);
    color: vars.$background-primary;
    min-height: 100%;
    &-title{
        font-size: vars.$gutter*2;
        font-weight: bold;
        text-transform: uppercase;
        padding: vars.$gutter*2 0;
        border-bottom: 2px solid vars.$background-primary;
        @media(max-width: 426px) {
            font-size: vars.$gutter*1.5;
        }
    }
    &-content{
        width: 70%;
        margin: 0 auto;
        text-align: left;
        padding: vars.$gutter*4 0;
        line-height: 1.3;
        font-size: vars.$gutter*1.3;
        @media(max-width: 426px) {
            width: 90%;
        }
        &-description{
            padding-bottom: vars.$gutter;
            text-align: center;
            font-size: vars.$gutter*1.6;
            @media(max-width: 426px) {
                font-size: vars.$gutter*1.4;
            }
        }
        &-link{
            color: vars.$background-secondary;
            text-decoration: underline;
            &:hover{
                color: vars.$link-color;
            }
        }
        &-profil{
            padding: vars.$gutter*2;
            margin: vars.$gutter 0;
            border-radius: 15px;
            background-color: vars.$background-primary;
            color:black;
            @media(max-width: 426px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: vars.$gutter;
            }
            &-img{
                width: 30%;
                border-radius: 50%;
                float: left;
                margin-right: vars.$gutter*2;
                margin-bottom: vars.$gutter;
                @media(max-width: 426px) {
                    float: none;
                    margin-right: 0;
                    width: 60%;
                }
            }
            &-description{
                font-size: vars.$gutter*1.2;
                //text-align: justify;
                & p {
                    padding: vars.$gutter*0.5;
                }
                & ul {
                    list-style-type: disc;
                }
                & ul>li {
                    margin-left: vars.$gutter*2;
                }
            }
        }
        &-contact{
            padding-top: vars.$gutter;
        }
    }
}

.important{
    font-weight: bold;
}