@use '../../styles/vars';
@use 'sass:color';

.home{
    &-header{
        text-align: center;
        padding: vars.$gutter*4 0;
        position: relative;
        border-bottom: 2px solid vars.$background-primary;
        @media(max-width: 426px) {
            padding: vars.$gutter*5 vars.$gutter vars.$gutter*2;
        }
        &-title{
            font-size: vars.$gutter*5;
            @media(max-width: 426px) {
                font-size: vars.$gutter*3;
            }
        }
        &-subtitle{
            margin-top: vars.$gutter*2;
            font-size: vars.$gutter*2;
            @media(max-width: 426px) {
                font-size: vars.$gutter*1.3;
            }
        }
        &-switch{
            position: absolute;
            top: vars.$gutter;
            right: vars.$gutter;
            &-button{
                border: none;
                background-color: transparent;
                transition: transform 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
                &-dark, &-light{
                    padding: vars.$gutter*0.3;
                    border: 2px solid vars.$background-primary;
                    border-radius: 50%;
                }
                &-dark {
                    &:hover{
                        border-color: rgb(3, 3, 3);
                    } 
                    & svg{
                        fill: vars.$background-primary;
                        &:hover{
                            fill: rgb(3, 3, 3);
                        }
                    }
                    }
                &-light {
                    &:hover{
                        border-color: rgb(217, 255, 2);
                    }
                    & svg {
                        fill: vars.$background-primary;
                        &:hover{
                            fill: rgb(217, 255, 2);
                        }
                    }
                }
            }
        }
    }
    &-posts{
        text-align: center;
        padding: vars.$gutter*2 vars.$gutter*8;
        @media(max-width: 426px) {
            padding: vars.$gutter;
        }
        @media(max-width: 321px) {
            padding: vars.$gutter 0;
        }
    }
}

.dark:hover{
    fill: "#000";
}