@use '../../styles/vars';
@use 'sass:color';

.home{
    &-header{
        text-align: center;
        padding: vars.$gutter*4 0;
        color: vars.$background-primary;
        background-color: vars.$background-secondary;
        @media(max-width: 426px) {
            padding: vars.$gutter*5 vars.$gutter vars.$gutter*2;
        }
        &-title{
            font-size: vars.$gutter*5;
            @media(max-width: 426px) {
                font-size: vars.$gutter*3;
            }
        }
        &-subtitle{
            margin-top: vars.$gutter*2;
            font-size: vars.$gutter*2;
            @media(max-width: 426px) {
                font-size: vars.$gutter*1.3;
            }
        }
    }
    &-posts{
        text-align: center;
        padding: vars.$gutter*2 vars.$gutter*8;
        @media(max-width: 426px) {
            padding: vars.$gutter;
        }
        @media(max-width: 321px) {
            padding: vars.$gutter 0;
        }
    }
}