@use '../../styles/vars';
@use 'sass:color';

.header{
    text-align: right;
    padding: vars.$gutter;
    &-title{
        font-size: vars.$gutter*2;
    }
    &-subtitle{
        font-size: vars.$gutter*1.1;
        margin-top: vars.$gutter*0.5;
        @media( max-width: 426px ) {
           display: none;
        }
    }
}