@use '../../styles/vars';
@use 'sass:color';

.footer{
    border-top: 2px solid vars.$background-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    &-info{
        margin-left: vars.$gutter*2;
    }
    &-up{
        margin: vars.$gutter vars.$gutter*2;
        padding: vars.$gutter*0.5;
        border: 3px solid vars.$background-primary;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
    }
}