@use '../../styles/vars';
@use 'sass:color';

.wrapper{
    min-height:100vh;
    background-color: vars.$background-primary;
}

.page{
    height: calc(100vh - 110px);
    @media(max-width: 426px) {
        height: calc(100vh - 50px);
    }
}

.open{
    opacity: 0.2;
}

.on{
    border: 2px solid vars.$link-color;
    background-color: vars.$link-color;
    color: vars.$background-primary;
    &:hover{
        background-color: vars.$background-primary;
        color: vars.$link-color;
    }
}

.off {
    border: 2px solid vars.$grey;
    background-color: vars.$grey;
    color: vars.$background-primary;
    cursor: not-allowed;
}

.ok{
    border: 2px solid rgb(12, 224, 12);
}

.ko{
    border: 2px solid rgb(224, 12, 40);
}

.bk{
    &-p{
        &--light{
            background-color: vars.$background-primary;
        }
        &--dark{
            background-color: rgb(25, 25, 26);
            color: white;
        }
    }
    &-s{
        &--light{
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
        }
        &--dark{
            background-color: rgb(18, 18, 19);
            color: white;
        }
    }
    &-t{
        &--light{
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
        }
        &--dark{
            background-color: vars.$background-primary;
            color: rgb(25, 25, 26);
        }
    }
}

.border{
    &--light{
        border: 10px solid vars.$background-secondary;
    }
    &--dark{
        border: 10px solid vars.$grey;
    }
}

.frame{
    &-light{
        border: 5px solid vars.$background-secondary;
    }
    &-dark{
        border: 5px solid vars.$background-primary;
    }
}

.important{
    font-weight: bold;
}