@use '../../styles/vars';
@use 'sass:color';

.wrapper{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color: vars.$background-primary;
    background-image: url('../../assets/image/background_image.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

.page{
    flex: 1 0 auto;
}

.open{
    opacity: 0.2;
}

.on{
    border: 2px solid vars.$alt-color;
    background-color: vars.$background-secondary;
    color: vars.$alt-color;
    
    &:hover{
        background-color: vars.$alt-color;
        color: vars.$background-secondary;
    }
}

.off {
    border: 2px solid vars.$grey;
    background-color: vars.$grey;
    color: vars.$background-primary;
    cursor: not-allowed;

    &:hover {
        border: 2px solid vars.$grey;
        background-color: vars.$grey;
        color: vars.$background-primary;
    }
}

.ok{
    border: 2px solid rgb(12, 224, 12);
}

.ko{
    border: 2px solid rgb(224, 12, 40);
}

.bk{
    &-p{
        &--light{
            background-color: vars.$background-primary;
        }
        &--dark{
            background-color: rgb(25, 25, 26);
            color: white;
        }
    }
    &-s{
        &--light{
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
        }
        &--dark{
            background-color: rgb(18, 18, 19);
            color: white;
        }
    }
    &-t{
        &--light{
            background-color: vars.$background-secondary;
            color: vars.$background-primary;
        }
        &--dark{
            background-color: vars.$background-primary;
            color: rgb(25, 25, 26);
        }
    }
}

.border{
    &--light{
        border: 10px solid vars.$background-secondary;
    }
    &--dark{
        border: 10px solid vars.$grey;
    }
}

.frame{
    &-light{
        border: 5px solid vars.$background-secondary;
    }
    &-dark{
        border: 5px solid vars.$background-primary;
    }
}

.important{
    font-weight: bold;
}