@use '../../styles/vars';
@use 'sass:color';

.post {
    width: 100%;
    margin: 0 auto vars.$gutter*3;

    @media(max-width: 769px) {
        width: 100%;
    }

    @media(max-width: 468px) {
        background-color: vars.$light;
    }

    &-header {
        width: 100%;
        text-align: center;
        position: relative;

        &-img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-bottom: 5px solid vars.$background-secondary;

            @media(max-width: 426px) {
                height: 300px;
            }
        }

        &-title {
            display: inline-block;
            background-color: vars.$background-secondary;
            padding: vars.$gutter vars.$gutter*2;
            margin-top: - (vars.$gutter*3.5);
            font-size: vars.$gutter*3;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Orbitron', sans-serif;
            color: white;

            @media(max-width: 426px) {
                font-size: vars.$gutter*2;
            }
        }
    }

    &-subtitle {
        text-align: center;
        font-size: vars.$gutter*1.8;
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: vars.$gutter;
        background-color: vars.$background-secondary;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255, 255, 255, 0.7) 0px 3px 3px;

        @media(max-width: 426px) {
            font-size: vars.$gutter*1.4;
        }
    }

    &-info {
        text-align: center;
        padding: vars.$gutter;
        color: #999;
        font-style: oblique;

        &-date,
        &-author {
            font-weight: bold;
        }

        @media(max-width: 426px) {
            font-size: vars.$gutter*0.9;
        }
    }

    &-tags {
        display: flex;
        justify-content: center;
        gap: 10px;

        &-item {
            color: white;
            padding: vars.$gutter*0.5 vars.$gutter;
            border-radius: 8px;
            cursor: pointer;
            text-shadow: 0px 0px 2px black;
        }
    }

    &-content {
        width: 75%;
        margin: 0 auto;
        font-size: vars.$gutter*1.2;
        line-height: 1.5;

        @media(max-width: 1025px) {
            width: 85%;
        }

        @media(max-width: 769px) {
            width: 95%;
        }

        @media(max-width: 426px) {
            width: 100%;
            font-size: vars.$gutter*1.1;
        }
        
        &-intro-wrapper {
            position: relative;
            margin: vars.$gutter*3 0;
        }
        
        &-intro, &-outro {
            font-weight: bold;
            font-size: vars.$gutter*1.2;
            line-height: 1.8;
            font-family: 'Inter', sans-serif;
            text-align: justify;
            background: vars.$light;
            padding: vars.$gutter*6 vars.$gutter*4 vars.$gutter*3;
            position: relative;
            border-left: 8px solid vars.$background-secondary;
            
            // Première lettre enluminée (lettrine médiévale)
            &::first-letter {
                font-size: 4.5em;
                font-weight: normal;
                color: #000000;
                float: left;
                line-height: 0.75;
                margin-top: -35px;
                text-shadow: 
                    2px 2px 0px rgba(0, 0, 0, 0.2),
                    4px 4px 2px rgba(0, 0, 0, 0.1);
                font-family: 'Eagle Lake', serif;
                background-color: rgba(255, 255, 255, 0.9);
                transform: rotate(-2deg);
            }
            
            @media(max-width: 426px) {
                font-size: vars.$gutter*1.1;
                padding: vars.$gutter*3 vars.$gutter*1.5 vars.$gutter*2;
                border-left: none;
                
                &::first-letter {
                    font-size: 3em;
                    margin-top: -10px;
                }
            }

            &-wrapper {
                position: relative;
                margin: vars.$gutter*2 0;
            }

            &-decoration {
                position: absolute;
                width: 80px;
                height: 80px;
                z-index: 10;
                pointer-events: none;
                object-fit: contain;
                
                @media(max-width: 426px) {
                    display: none;
                }
                
                &--top-left {
                    top: 0;
                    left: 10px;
                    transform: scaleX(-1);
                }
                
                &--top-right {
                    top: 0;
                    right: 0;
                }

                &--bottom-left {
                    bottom: 0;
                    left: 10px;
                    transform: scale(-1, -1);
                }
                
                &--bottom-right {
                    bottom: 0;
                    right: 0;
                    transform: scale(1, -1);
                }
            }
        }

        &-section {
            margin-bottom: vars.$gutter * 3;
            transform: skewY(-1deg);

            &-body {
                background-color: vars.$light;
                padding: vars.$gutter*3 vars.$gutter;
                overflow: hidden;
                margin: vars.$gutter 0 vars.$gutter*2;
                border-bottom: 3px solid black;

                @media (max-width: 426px) {
                    border: none;
                    padding: vars.$gutter;
                }
            }

            &-text {
                transform: skewY(1deg);
                transform-origin: top left;
                text-align: justify;
                font-family: 'Inter', sans-serif;

                @media (max-width: 426px) {
                    padding: 0 vars.$gutter;
                }
            }
        }

        &-subtitle {
            position: relative;
            width: 100%;
            background: vars.$background-secondary;
            color: white;
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
            padding: 1rem;
            margin: 2rem 0 -1rem;
            font-family: 'Orbitron', sans-serif;

            span {
                display: inline-block;
                transform: skewY(1deg);
            }

            @media(max-width: 426px) {
                font-size: 1.1rem;
            }
        }

        &-images {
            display: grid;
            gap: vars.$gutter;
            margin-top: vars.$gutter;

            // Par défaut : 1 image = 1 colonne (pour mobile)
            grid-template-columns: 1fr;

            @media (min-width: 426px) {
                &[class*="has-"] {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                }


            }

            @media (min-width: 769px) {
                &.has-1 img {
                    height: 400px;
                }
            }

            @media (max-width: 426px) {
                padding: 0 vars.$gutter;
            }

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 6px;
                cursor: pointer;
                transition: transform 0.2s ease-in-out;
                height: 300px;

                @media (max-width: 769px) {
                    height: 250px;
                }

                @media (max-width: 426px) {
                    height: 200px;
                }
            }
        }


        &-context,
        &-contact {
            margin-bottom: 20px;
            text-align: justify;
            transform: skewY(-1deg);
            background-color: vars.$background-secondary;
            color: white;
            padding: vars.$gutter*2 0 vars.$gutter*3;

            &-title {
                padding: vars.$gutter vars.$gutter*2;
                text-transform: uppercase;
                font-weight: bold;
                display: block;
                font-family: 'Orbitron', sans-serif;
                transform: skewY(1deg);
            }

            &-text {
                padding: vars.$gutter vars.$gutter*2;
                transform: skewY(1deg);
            }
        }

        &-context-title {
            text-align: right;
        }

        &-context-triangle {
            &-top {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-bottom: -1px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 100%);
                }
            }

            &-bottom {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-top: -1px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
                }
            }
        }

        &-contact-title {
            text-align: left;
        }

        &-contact-triangle {
            &-top {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-bottom: -1px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 100%);
                }
            }

            &-bottom {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-top: -1px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(100% 100%, 0% 0%, 100% 0%, 100% 0%);
                }
            }
        }
    }
}

.subtitle {
    font-size: vars.$gutter*1.3;
    font-weight: bold;
    text-transform: uppercase;
    margin: vars.$gutter*4 0 vars.$gutter;
}

.modal-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    .modal-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        max-height: 90%;
        position: relative;
        
        img {
            max-width: 100%;
            max-height: 80vh;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    
    .modal-image-caption {
        position: static;
        bottom: 0;
        font-size: vars.$gutter * 1.1;
        color: vars.$background-secondary;
        text-align: center;
        background-color: rgba(0,0,0,0.6);
        color: white;
        padding: vars.$gutter*1.5 vars.$gutter;
        width: 100%;
        font-family: "Orbitron", 'Comic Sans MS', cursive, sans-serif;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        letter-spacing: 1px;
        max-width: 100%;
        
        @media (max-width: 426px) {
            font-size: vars.$gutter*0.9;
            padding: vars.$gutter*0.5 vars.$gutter;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    .close-btn,
    .prev-btn,
    .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1000;
    }

    .close-btn {
        top: 20px;
        right: 30px;
        transform: none;
    }

    .prev-btn {
        left: 30px;
    }

    .next-btn {
        right: 30px;
    }
}

.reading-progress-container {
  position: sticky;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: vars.$background-secondary;
  z-index: 999;
}

.reading-progress-bar {
  height: 100%;
  width: 0%;
  background-color: vars.$success-green;
  transition: width 0.2s ease-in-out;
}

// Conteneur pour chaque image avec sa légende
.post-content-image-container {
    display: flex;
    flex-direction: column;
    position: relative;
    
    .post-content-image {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        height: 300px;
        margin-bottom: vars.$gutter * 0.5;

        @media (max-width: 769px) {
            height: 250px;
        }

        @media (max-width: 426px) {
            height: 200px;
        }
    }
}

// Légende individuelle pour chaque image
.post-content-image-caption {
    font-size: vars.$gutter;
    position: absolute;
    right: 0;
    bottom: -16px;
    background: white;
    padding: vars.$gutter*0.6;
    width: 150px;
    font-weight: bold;
    font-family: "Indie Flower", 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 2px 2px 5px vars.$background-secondary;
    transform: rotate(-2deg);

    @media (max-width: 426px) {
        font-size: vars.$gutter*0.9;
        padding: vars.$gutter * 0.5;
        right: 0;
        bottom: -8px;
    }
}

// Légende générale pour un groupe d'images
.post-content-images-general-caption {
    font-size: vars.$gutter * 1.4;
    color: vars.$background-secondary;
    text-align: center;
    margin: -32px auto 0;
    background-color: white;
    padding: vars.$gutter;
    position: relative;
    z-index: 2;
    width: 80%;
    font-family: "VT323", 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 2px 2px 5px vars.$background-secondary;
    
    @media (max-width: 426px) {
        width: fit-content;
        font-size: vars.$gutter*1.1;
        padding: vars.$gutter*0.8;
        margin: vars.$gutter*0.5 vars.$gutter 0;
        transform: skewY(1deg);
    }
}

// Ajustement des grilles d'images pour les conteneurs
.post-content-images {
    display: grid;
    gap: vars.$gutter;
    margin-top: vars.$gutter;

    // Par défaut : 1 image = 1 colonne (pour mobile)
    grid-template-columns: 1fr;

    @media (min-width: 426px) {
        &[class*="has-"] {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }

    @media (min-width: 769px) {
        &.has-1 .post-content-image-container .post-content-image {
            height: 400px;
        }
    }

    @media (max-width: 426px) {
        padding: 0 vars.$gutter;
    }
}