@use '../../styles/vars';
@use 'sass:color';

.post {
    width: 100%;
    margin: 0 auto vars.$gutter*3;

    @media(max-width: 769px) {
        width: 100%;
    }

    &-header {
        width: 100%;
        text-align: center;
        position: relative;

        &-img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-bottom: 5px solid vars.$background-secondary;

            //object-position: top;
            @media(max-width: 426px) {
                height: 300px;
            }
        }

        &-title {
            display: inline-block;
            padding: vars.$gutter vars.$gutter*2;
            margin-top: - (vars.$gutter*3.5);
            font-size: vars.$gutter*3;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Orbitron', sans-serif;

            @media(max-width: 426px) {
                font-size: vars.$gutter*2;
            }
        }
    }

    &-info {
        text-align: center;
        padding: vars.$gutter;
        color: #999;
        font-style: oblique;

        &-date,
        &-author {
            font-weight: bold;
        }

        @media(max-width: 426px) {
            font-size: vars.$gutter*0.9;
        }
    }

    &-tags{
        display: flex;
        justify-content: center;
        gap: 10px;
        &-item{
            // background-color: vars.$background-secondary;
            color: vars.$background-primary;
            padding: vars.$gutter*0.5 vars.$gutter;
            border-radius: 8px;
            cursor: pointer;
            text-shadow: 0px 0px 2px black;
        }
    }

    &-content {
        width: 75%;
        margin: 0 auto;
        font-size: vars.$gutter*1.2;
        line-height: 1.5;
        // text-align: justify;

        @media(max-width: 769px) {
            width: 85%;
        }

        @media(max-width: 426px) {
            width: 100%;
            font-size: vars.$gutter*1.1;
        }

        &-intro,
        &-outro {
            font-weight: bold;
            font-size: vars.$gutter*1.2;
            line-height: 1.8;
            font-family: 'Inter', sans-serif;
            text-align: justify;

            @media(max-width: 426px) {
                font-size: vars.$gutter*1.1;
                padding: 0 vars.$gutter;
            }
        }

        &-intro {
            margin: vars.$gutter*2 0;
        }

        &-section {
            margin-bottom: vars.$gutter * 3;
            @media(max-width: 426px) {
                padding: 0 vars.$gutter;
            }
        }

        &-subtitle {
            position: relative;
            width: 100%;
            background: vars.$background-secondary;
            color: vars.$background-primary;
            font-weight: 700;
            font-size: 1.25rem;
            text-align: center;
            padding: 1rem;
            transform: skewY(-1deg);
            margin: 2rem 0 1rem;
            font-family: 'Orbitron', sans-serif;
          
            span {
              display: inline-block;
              transform: skewY(1deg);
            }
          
            @media(max-width: 426px) {
              font-size: 1.1rem;
            }
        }
          
        &-text {
            margin-bottom: vars.$gutter;
            text-align: justify;
            position: relative;
            padding-left: 1rem;
            border-left: 4px solid vars.$background-secondary;
            font-family: 'Inter', sans-serif;
        }

        &-images {
            display: grid;
            gap: vars.$gutter;
            margin-top: vars.$gutter;
          
            // Par défaut : 1 image = 1 colonne (pour mobile)
            grid-template-columns: 1fr;
          
            @media (min-width: 426px) {
                &[class*="has-"] {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                }
            }
          
            img {
              width: 100%;
              object-fit: cover;
              border-radius: 6px;
              cursor: pointer;
              transition: transform 0.2s ease-in-out;
              max-height: 400px;
          
              @media (max-width: 769px) {
                max-height: 300px;
              }
          
              @media (max-width: 426px) {
                max-height: 200px;
              }
            }
        }
          
        &-outro {
            margin-top: vars.$gutter*2;
        }

        &-context,
        &-contact {
            margin-bottom: 20px;
            text-align: justify;

            &-title {
                padding: vars.$gutter vars.$gutter*2;
                text-transform: uppercase;
                font-weight: bold;
                display: block;
                background-color: vars.$background-secondary;
                color: vars.$background-primary;
                font-family: 'Orbitron', sans-serif;
            }

            &-text {
                padding: vars.$gutter vars.$gutter*2;
                background-color: vars.$background-secondary;
                color: vars.$background-primary;
            }
        }

        &-context-title {
            text-align: right;
        }

        &-context-triangle{
            &-top {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-bottom: -1px;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 100%);
                }
            }
            &-bottom {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-top: -1px;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
                }
            }
        }

        &-contact-title {
            text-align: left;
        }

        &-contact-triangle{
            &-top {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-bottom: -1px;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 100%);
                }
            }
            &-bottom {
                position: relative;
                width: 100%;
                height: 30px;
                overflow: hidden;
                margin-top: -1px;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: vars.$background-secondary;
                    clip-path: polygon(100% 100%, 0% 0%, 100% 0%, 100% 0%);
                }
            }
        }
    }
}

.subtitle {
    font-size: vars.$gutter*1.3;
    font-weight: bold;
    text-transform: uppercase;
    margin: vars.$gutter*4 0 vars.$gutter;
}
